services:
  sqlserver:
    image: mcr.microsoft.com/azure-sql-edge
    ports:
      - "11433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql
    environment:
      - 'ACCEPT_EULA=Y'
      - 'MSSQL_SA_PASSWORD=Password123!'

volumes:
  sqlserver-data:
    driver: local
  